body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Meiryo, sans-serif;
    color: #000;
    background-color: #eee;
    font-size: 10pt;
}

fieldset {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    border: 1px solid #777;
}

legend {
    padding: 0 5px;
    color: #777;
    font-size: 11pt;
    font-weight: bold;
}

label {
    color: #777;
    font-weight: bold;
}

#connectionStatus {
    font-weight: bold;
}

#wrapper {
    display: flex;
    /*justify-content: space-between;*/
}

#content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 50%;
}

#showLimit {
    flex: 1;
}

.server_row {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    line-height: 23px;
}

.filter_row {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    line-height: 23px;
}

.toggle_milliseconds_row {
    margin-bottom: 5px;
}

#urlHistory, #favorites {
    flex: 1;
    padding: 1px 3px;
    border: 1px solid #999;
}

.path {
    display: flex;
    justify-content: flex-start;
}

#serverSchema {
    max-width: 50px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#serverHost {
    max-width: 200px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#serverPort {
    max-width: 50px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#serverPath {
    max-width: 50px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#serverParams {
    max-width: 50px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#filterMessage {
    flex: 1;
    padding: 1px 3px;
    border: 1px solid #999;
}

#lastMsgsNum {
    width: 50px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#disconnectButton {
    display: none;
}

#requestArea textarea {
    height: 100px;
    padding: 0 3px;
    resize: vertical;
    line-height: 150%;
}

#parsed {
    padding: 10px;
    flex: 0 1 50%;
}

#parsedMessage {
    width: 100%;
    padding: 0 5px;
    overflow: auto;
    border: 1px dotted #777;
    background-color: #fff;
}

#messages {
    height: calc(38vh - 51px);
    padding: 0 5px;
    overflow: auto;
    border: 1px dotted #777;
    background-color: #fff;
    line-height: 150%;
}

#messages pre {
    margin: 0;
    width: 100%;
    color: #000;
    cursor: pointer;
}

#messages pre.sent {
    color: #f63;
}

.button {
    margin-left: 10px;
}

label {
    margin-right: 10px;
}

#sendButton {
    width: 75px;
    margin-top: 5px;
}

#requestArea, #messageArea {
    flex: 1;
}

.CodeMirror {
    height: 100%;
}
